@model WebCartridgeJournalAuth.Models.Brand

@{
    ViewBag.Title = "Delete";
}

@*<h2>Удалить</h2>*@

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <h4>Модель</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-primary" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
